<!DOCTYPE html>
<html>
<head>
  <title>ConnectEd</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
	<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js'></script>
</head>
<body>

	
	<div id='header'>
		<%= link_to (image_tag 'logo.jpg', :id => 'logo'), root_path %>
		<div id='top_navigation'>
			<% if signed_in? %>
			  Welcome, <%= @current_user.first_name %> | 
			  <%= link_to "Sign out", signout_path %> | 
				<%= link_to "Settings", edit_user_path(current_user)%>
			<% else %>
			  <%= link_to "Sign in", signin_path %><br />
			<% end %>
		</div>
	</div>
<div id='wrapper'>
	<div id='main'>
		<div id='left_bar'>
			<div class='nav_header'>
				<%= link_to 'Home', root_path %>
			</div>
			<div class='nav_box'>
				<%= link_to 'Profile', user_path(current_user) %><br />
				<%= link_to "My committments", '#' %><br />
				<%= link_to "Find an opportunty", '#' %><br />
				<%= link_to "Posted opportunities", '#' %><br />
			</div>
		</div>
		<div id='content'>
			<!--<div class='post_it'></div>
			<div class='post_it'></div>
			<div class='post_it'></div>
			<div class='post_it'></div>-->
			<%= yield %>
		</div>
	</div>
</div>	
	<div id='footer'>
		Copyright 2011 ConnectEd
	</div>
</body>
</html>
